<footer class="footer">
    <div class="footer-content">
      <div class="left">
        <span>© {{ currentYear }} Vinitha R</span>
        <span class="tagline">Crafted with ❤️ in Angular</span>
      </div>
  
      <div class="right">
        <a href="https://github.com/vinitha26-ui" target="_blank" aria-label="GitHub">
          <mat-icon>code</mat-icon>
        </a>
        <a href="https://www.linkedin.com/in/vinitha-raghuraman-8503101b6/" target="_blank" aria-label="LinkedIn">
          <mat-icon>linkedin</mat-icon>
        </a>
      </div>
    </div>
  </footer>
  