.summary {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  .summary-card {
    width: 200px;
  }
  .tech-icons{
    width: 25px;
    height: 25px;
}
.clock{
    margin-left: auto;
}
.title-span{
    display: flex;
}
  